* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  color: #444;
}

ul {
  list-style-type: none;
}

p {
  margin-bottom: 0;
}

.contain {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 10fr;
}

.bold {
  font-weight: 700;
}

.logo {
  margin-top: 30px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 40px;
  border-right: 0.5px solid #efefef;
  grid-row: 1 / -1;
  background-color: #eee;
}

.sidebar-items {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-item {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 8px;
  line-height: 83%;
}

.sidebar-link {
  font-size: 12px;
  padding: 15px;
  text-decoration: none;
  color: #444;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-item :hover,
.sidebar-link :hover {
  color: #e38188;
  background-color: #ddd;
}

.table-list {
  grid-row: 2 / 3;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  column-gap: 50px;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
}

.table {
  background-color: #eee;
  box-shadow: 1px #444;
  border-radius: 10px;
  height: 80%;
  width: 80%;
  padding: 1rem;
}

.page-title h2 {
  padding: 18px;
  font-weight: 700;
  text-align: center;
}

.item-list {
  width: 100%;
  height: 75%;
  padding: 10px;
  background-color: #ddd;
  border-radius: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.item {
  background-color: #444;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-price {
  font-size: 70%;
}

.item-quantity {
  font-size: 70%;
  color: #444;
}
