/*
GLOBAL VARIABLES
*/

:root {
  --main-taptap-color: rgba(212, 30, 30, 1);
  --taptap-blue: #339af0;
  --taptap-light-blue: #a5d8ff;
  --taptap-orange: #fd7e14;
  --taptap-light-orange: #fff3bf;
  --taptap-purple: #be4bdb;
  --taptap-light-purple: #eebefa;
  --taptap-yellow: #fab005;
  --taptap-light-yellow: #ffec99;
  --taptap-green: #40c057;
  --taptap-light-green: #b2f2bb;
  --taptap-red: #fa5252;
  --taptap-light-red: #ffc9c9;
}

/*
ANIMATIONS
*/

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pop-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.1);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

/*
EDITING DEFAULT BOOTSTRAP STYLES
*/

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: var(--main-taptap-color);
  box-shadow: 0 0 0 0.25rem rgb(210, 115, 115, 0.4);
}

.form-check-input:checked {
  background-color: var(--main-taptap-color);
  border-color: var(--main-taptap-color);
}

select.form-select option:hover {
  background-color: var(--main-taptap-color) !important;
  color: #fff;
}

.accordion-button:focus {
  border-color: rgb(210, 115, 115, 0.4);
  box-shadow: 0 0 0 0.25rem rgb(210, 115, 115);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(210, 115, 115, 0.4);
}

.nav-link {
  color: #444;
  font-weight: bold;
  box-shadow: none;
}

.nav-link:hover {
  color: var(--main-taptap-color);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--main-taptap-color);
  box-shadow: none;
}

/*
UTILITY
*/

.grid {
  display: grid;
  gap: 0.4rem 2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(4, 1fr);
}

.light-bx-shadow {
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.4);
}

.bg-light-green {
  background-color: var(--taptap-light-green);
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background: #ccc;
}

.red-border {
  border: 2px solid var(--taptap-red);
}

.pointer-events-none {
  pointer-events: none;
}

.font-size-sm {
  font-size: 0.8rem !important;
}

.mr-3 {
  padding-right: 1rem;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mono {
  font-family: monospace;
}

/*
START OF MAIN STYLING
*/

.taptap-background-color {
  background-color: var(--main-taptap-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #fcfcfc;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  color: #444;
  letter-spacing: 0.05rem;
}

.main-content {
  padding: 0.2rem;
}

.restaurant-name-badge {
  position: fixed;
  right: 0.5rem;
  background: rgb(100, 100, 138);
  color: #fff;
  z-index: 1000;
  padding: 0.4rem 0.8rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.3s;
  height: 2.3rem;
  width: 5rem;
}

.restaurant-name-badge:hover {
  height: 10rem;
  width: 15rem;
}

fieldset,
legend {
  all: revert;
}

fieldset {
  border-radius: 0.375rem;
  border: 0.5px solid #eee;
  background-color: #fff;
}

legend {
  font-size: 140%;
  font-weight: 500;
  background-color: #fafafa;
  border-radius: 0.375rem;
  padding: 0 1rem;
}

.contain {
  overflow: auto;
  scrollbar-gutter: stable;
  position: relative;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin-bottom: 0;
}

.full-title {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.sub-heading:link,
.sub-heading:visited {
  font-size: 1.2rem;
  text-decoration: none;
  color: #999;
}

.sub-heading:hover {
  text-decoration: underline;
  color: #333;
}

.contain {
  height: 100vh;
}

.bold {
  font-weight: 700;
}

.logo {
  margin-top: 30px;
}

input[type="number"] {
  width: 3rem;
}

.custom-check {
  height: 2.4rem;
  width: 2.4rem;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  grid-row: 1 / -1;
  background-color: #fff;
  box-shadow: 0.2rem 0rem 0.3rem rgba(0, 0, 0, 0.1);
  width: 6rem;
  height: 100%;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-bottom: 1.6rem;
}

.sidebar-item {
  padding: 8px;
  line-height: 0.75rem;
}

.sidebar-link {
  height: 4.5rem;
  width: 4.5rem;
  padding: 0.8rem;
  text-decoration: none;
  color: #444;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.sidebar-link i {
  font-size: 270%;
}

.sidebar-link:hover,
.active-sidebar-link {
  color: var(--main-taptap-color);
  background-color: rgb(210, 115, 115, 0.15);
  box-shadow: 0 0 0.1rem var(--main-taptap-color);
}

.active-sidebar-link i {
  transition: all 0.3s;
  scale: 1.1;
}

.footer-sidebar.sidebar-item .sidebar-link {
  height: 3.2rem;
  width: 3.2rem;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.page-title h2 {
  padding: 2rem;
  font-weight: 700;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 110%;
}

.action-button,
.action-button:link,
.action-button:visited {
  padding: 1rem 1.6rem;
  border-radius: 3px;
  border: none;
  background-color: #efefef;
  font-size: 125%;
  color: #444;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.red-hover {
  transition: background-color 0.2s, color 0.2s;
}

.red-hover:hover {
  background-color: var(--main-taptap-color) !important;
  color: #fff !important;
  box-shadow: none !important;
}

.blank-button {
  border: none;
  background-color: inherit;
}

.select {
  cursor: pointer;
}

.box {
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0.05rem 0.3rem rgba(0, 0, 0, 0.1);
}

.main-content {
  margin: 0 4rem 0 10rem;
  overflow-x: hidden;
}

.add-button {
  border-radius: 4px;
  background-color: var(--main-taptap-color);
  color: #fff;
  font-weight: bold;
  border: none;
  display: block;
  padding: 0.4rem;
}

.submit-button {
  background-color: var(--main-taptap-color);
  border-color: var(--main-taptap-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

.submit-button:hover {
  background-color: var(--main-taptap-color);
  border-color: var(--main-taptap-color);
}

.submit-button:hover,
.add-button:hover {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}

.required:placeholder-shown {
  border-bottom: 1px solid var(--main-taptap-color);
}

/*Pulled from https://codepen.io/P1N2O/pen/pyBNzX*/

.loading {
  background: linear-gradient(-90deg, #a7a7a7, #cfcfcf, #acacac, #c5c5c5);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.error-message {
  font-weight: bold;
  color: red;
}

.edit-container {
  display: grid;
  grid-template-columns: 10rem 1.5rem;
  grid-template-rows: 1.5rem;
}

.small-shadow {
  box-shadow: 1px 1px 2px #ccc;
}

.taptap-red:focus {
  border-color: var(--main-taptap-color);
  box-shadow: 0 0 0 0.25rem rgb(210, 115, 115, 0.4);
}

.dummy-icons {
  position: absolute;
  bottom: 0.7rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.dummy-icon {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 100rem;
}

.dummy-table {
  background-color: #e8e8e8;
}

.dummy {
  display: inline-block;
  padding: 0 0.2rem;
  color: transparent;
  background: linear-gradient(-90deg, #cfcfcf, #ececec, #cecece, #eaeaea);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

button.dummy {
  pointer-events: none;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.edit-field {
  display: flex;
  align-items: center;
  z-index: 10;
}

.content-box {
  background-color: #fff;
  margin-bottom: 4rem;
  width: 80vw;
  padding-bottom: 3rem;
  min-width: 80rem;
}

.status-badge {
  padding: 0 0.2rem;
  border-radius: 4px;
  font-weight: 600;
  justify-self: center;
  width: 5rem;
  font-size: 0.8rem;
  text-align: center;
}

.dropbtn {
  background-color: transparent;
  color: #444;
  padding: 0.2rem 0.4em;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  line-height: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 5rem;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content > span {
  cursor: default;
}

.dropdown-content a,
.dropdown-content button {
  cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: #f1f1f1;
  text-decoration: underline;
}

.dropdown-content > * {
  color: #444;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  display: block;
  border: none;
  background-color: inherit;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

.unauthorized {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
}

.no-access-icon {
  font-size: 7.2rem;
  position: relative;
}

.no-access-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.6rem;
  height: 9.6rem;
  background-color: var(--taptap-light-red);
  content: " ";
  border-radius: 1000px;
  z-index: -2;
}

.unauthorized-text {
  font-size: 3.2rem;
  font-weight: bold;
}

.contact-system-administrator {
  font-size: 1.8rem;
  color: #777;
}
