* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  color: #444;
}

p {
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

.logo {
  margin-top: 30px;
}

.sidebar {
  background-color: pink;
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 40px;
}

.sidebar-items {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-item {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: #444;
}
