.order-status {
  background-color: var(--taptap-light-blue);
  color: var(--taptap-blue);
  border: 1px solid var(--taptap-blue);
}

.order-placed {
  background-color: var(--taptap-light-orange);
  color: var(--taptap-orange);
  border: 2px solid var(--taptap-orange);
}

.order-prepared {
  background-color: var(--taptap-light-purple);
  color: var(--taptap-purple);
  border: 2px solid var(--taptap-purple);
}

.order-delivered {
  background-color: var(--taptap-light-yellow);
  color: var(--taptap-yellow);
  border: 2px solid var(--taptap-yellow);
}

.order-tendered {
  background-color: var(--taptap-light-green);
  color: var(--taptap-green);
  border: 2px solid var(--taptap-green);
}

.order-error {
  background-color: var(--taptap-light-red);
  color: var(--taptap-red);
  border: 2px solid var(--taptap-red);
}

.table-list {
  grid-row: 2 / 3;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.6rem;
  row-gap: 2rem;
  justify-items: center;
  align-items: stretch;
  margin-bottom: 6.4rem;
}

.tab {
  position: relative;
  background-color: #fff;
  min-width: 36rem;
}

.table-name {
  font-size: 1.4rem;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-list-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 75%;
  margin: 0 auto;
  overflow-x: auto;
  padding: 1.6rem;
}

.table-button {
  width: 8rem;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: var(--main-taptap-color);
  color: #fff;
  font-weight: 600;
}

.table-button label {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}

.button-list {
  position: absolute;
  top: -2rem;
  right: 4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.circle-button {
  line-height: 1;
  border-radius: 100px;
  border: 0.5px solid #ccc;
  transition: 0.3s all;
  font-size: 1.6rem;
}

.close-tab-button {
  background-color: var(--main-taptap-color);
  color: #fff;
}

.circle-button:hover {
  transform: translateY(-0.25rem);
  box-shadow: none;
}

.circle-button i {
  padding: 0.4rem;
  background-color: transparent;
}

.item-list-header {
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: 6fr 3rem 3fr 3fr 4.5rem 1fr;
  padding: 0.2rem 1.6rem 0.2rem 0.8rem;
  width: 100%;
}

.item-list {
  width: 100%;
  height: 12rem;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 6px;
  overflow-x: hidden;
  margin-bottom: 1.2rem;
  z-index: 1000;
}

.item-list li:nth-child(odd) {
  background-color: #fafafa;
}

.item-list li:nth-child(even) {
  background-color: #f1f1f1;
}

.item {
  padding: 0.2rem 1.6rem 0.2rem 0.8rem;
  display: grid;
  grid-template-columns: 6fr 3rem 3fr 3fr 4.5rem 1fr;
  align-items: center;
}

.item-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item-check {
  margin-right: 1rem;
}

.item-name {
  font-size: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-quantity {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.8rem;
}

.item-special-instructions {
  font-size: 0.9rem;
  padding-left: 1.6rem;
  color: #666;
}

.item-customer-name {
  padding-left: 0.8rem;
  color: #666;
}

.item-price {
  white-space: nowrap;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-delete-button {
  margin-left: auto;
}

.item-delete-button button {
  border: none;
  background-color: inherit;
}

.item-delete-button button:hover {
  color: var(--taptap-red);
}

.inactive {
  display: none;
}

.inactive-button {
  background-color: #efefef;
  color: #666;
}

.inactive--tab-open {
  color: var(--main-taptap-color);
  box-shadow: 0 0 0.25rem var(--main-taptap-color);
  background-color: var(--taptap-light-red);
}

.empty-tab {
  background-color: #eee;
  color: #999;
}

.empty-tab .search-bar,
.empty-tab button {
  pointer-events: none;
}

.empty-tab .close-tab-button {
  color: #aaa;
  background-color: #eee;
}
