.account-box {
  height: 13rem;
  font-size: 90%;
  background-color: #fff;
}

.restaurant-container {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 49% 49%;
}
