.account-box {
  height: 13rem;
  font-size: 90%;
  background-color: #fff;
}

.restaurant-container {
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  grid-template-columns: 49% 49%;
}

.account-button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-button-list .action-button {
  width: 100%;
}

.full-name {
  font-size: 1.4rem;
}

.admin {
  background-color: var(--taptap-light-blue);
  color: var(--taptap-blue);
  border: 2px solid var(--taptap-blue);
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  margin-left: 0.4rem;
}

.username {
  margin-left: 1rem;
}
