@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

.login-container {
  font-family: "Poppins", sans-serif;
  width: 420px;
  background-color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #444;
  border-radius: 10px;
  padding: 30px 40px;
}

.login-container h1 {
  font-size: 36px;
  text-align: center;
}

.login-container .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.login-container .input-container {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.login-container .forgot-password {
  font-size: 14.5px;
  text-align: center;
  margin: -15px 0 15px;
}

.login-container .register-message {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-message .register-link {
  color: #444;
  text-decoration: none;
  font-weight: 600;
}

.register-message .register-link:hover {
  text-decoration: underline;
}

.input-container .input-box {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(245, 245, 245, 0.8);
  border-radius: 40px;
  font-size: 16px;
  color: #444;
  padding: 20px 45px 20px 20px;
}

.input-container .input-box:hover {
  background: rgba(240 240, 240, 0.8);
  transition: 0.1s;
}

.input-container .input-box::placeholder {
  color: #444;
}

.input-container i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.forgot-password .forgot-password-link {
  color: #444;
  text-decoration: none;
  font-weight: 600;
}

.forgot-password .forgot-password-link:hover {
  text-decoration: underline;
}
