.account-box {
  border: 3px solid #ddd;
  height: 13rem;
  font-size: 90%;
}

.restaurant-container {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 49% 49%;
}
