.password-match {
  border: 2px solid var(--taptap-green);
}

.password-match:focus {
  border: 2px solid var(--taptap-green);
  box-shadow: 0 0 0 0.25rem var(--taptap-light-green);
}

.password-rule-match {
  color: var(--taptap-green);
}

.no-match {
  border: 2px solid var(--taptap-red);
}

.password-rules {
  list-style: square;
}

.password-rules li {
  margin-left: 4rem;
}
